<div class="card-container">
  <a href="<%- config.root %><%- item.path %>" class="regular-link">
    <div class="card-summary-container" data-augmented-ui="border tl-clip tr-clip bl-round br-round">
      <div class="card-title" data-augmented-ui="border tl-clip tr-clip"><%=item.title %></div>
      <% if(Boolean(item.featured_image)){ %>

      <div class="card-featured-image-container" data-augmented-ui="border">
        <img
          class="card-featured-image"
          src="<%- config.root %><%- item.featured_image %>"
          alt="Featured image for <%=item.title %>"
        />
      </div>

      <% }%>
      <p class="card-summary"><%- item.summary || item.excerpt %></p>
    </div>
  </a>
</div>
