<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="”robots”" content="index, follow" />
  <!-- Meta -->
  <% var title = page.title; var description = page.summary; if(is_home()){ description = config.description; } %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="description" content="<%= description %>" />
  <meta property="og:title" content="<%= page.title || config.title %>" />
  <meta property="og:url" content="<%= page.permalink || config.url %>" />
  <meta property="og:image" content="<%- config.url %><%- page.featured_image || theme.featured_image %>" />
  <meta property="og:type" content="<%- is_post() ? "article" : "website" %>" />
  <meta property="og:description" content="<%= description %>" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <%- css('/css/reset.css') %> <%- css('/css/augmented-ui.min.css') %> <%- css('/css/style.css') %>
</head>
